*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.menu{
    width: 98vw;
    height: 80px;
    display: flex;
    justify-content: space-around;
    p{
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        font-size: 20px;
        padding: 10px;

    }
    .novure{
        font-size: 24px;
        font-weight: 900;
    }
}
.titulo h1{
    font-size: 310px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;
}
