body{
    
}
.brown{
    
    width: 500px;

}

h1{
    background-color:#85182A ;
    color: white;

}
h3{
    background-color: #85182A;
    color: white;
}

.palha-italiana{
    height: 350px; 
    width: 700px;
}

.logomarca{
    height: 400px;
    width: 650px;
}

.saborê{
    height: 400px;
    width: 600px;
}
.criadoras{
    height: 400px;
    width: 600px;
}

.whatsapp-button {
    display: inline-block;
    background-color: #85182A; /* Cor do WhatsApp */
    color: white;
    padding: 12px 20px;
    border-radius: 5px;
    text-decoration: none;
    font-size: 16px;
    font-weight: bold;
    transition: background-color 0.3s;
    
}

.whatsapp-button:hover {
    background-color:#85182A; /* Cor ao passar o mouse */
}

.instagram-button {
    display: inline-block;
    background-color: #85182A; /* Cor do Instagram */
    color: white;
    padding: 12px 20px;
    border-radius: 5px;
    text-decoration: none;
    font-size: 16px;
    font-weight: bold;
    transition: background-color 0.3s;
   
}

.instagram-button:hover {
    background-color: #85182A; /* Cor ao passar o mouse */
}

.logo{
    height: 800px ;
    width: 1900px ;
}

