body {
    flex-direction: row;
    justify-content: space-between;
    display: flex;
    align-items: center;

}

.blocoazul {

    background-color: blue;
    height: 700px;
    width: 200px;

}

.blocorosa {
    background-color: pink;
    height: 200px;
    width: 200px;

}

.blocoroxo {
    background-color: purple;
    height: 1000px;
    width: 200px;

}