body{
  font-family: Arial, sans-serif;
  background-color:#cdb4db ; 
}
nav{
    background-color:#cdb4db ;
    
}
nav a {
    color: #3c096c;
    text-decoration: none;
    margin: 0 15px;
    font-size: 18px;
}
nav a:hover {
    text-decoration: underline;
}
.caixa-inferior{
    height: 90vh;
    width: 98vw;
    background-color: #e7c6ff;
    display: flex;
    flex-direction: row;
}
.biscoito{
    height: 90vh;
    width: 49vw;
    background-color:#cdb4db ;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}
.parte-bege{
    height: 60vh;
    width: 46vw;
    background-color: #a2d2ff;
    border-radius: 20px;
}
.parte-branca{
    height: 24vh;
    width: 46vw;
    background-color: #bde0fe;
    border-radius: 20px;
}
.caixa-school{
    height: 90vh ;
    width: 49vw ;
    background-color: #cdb4db;
    display: flex;
    flex-direction: column; 
    align-items: center;
    justify-content:space-evenly;
    
}
.parte-chefe{
    height: 30vh;
    width: 35vw;
    background-color:#ffd6ff ;
    border-radius: 20px;
}
.parte-fruta{
    height: 54vh;
    width: 35vw;
    background-color:#ffc8dd ;
    border-radius: 20px;
}