*{
    margin: 0;
    padding: 0;
    font-size: 20px;
    background-color: white;
}
.menu{
    width: 100vw;
    height: 80px;
    background-color:#f3f3f5 ;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.lista{
    width: 30vw;
    word-spacing: 80px;
}

.parte-escrita{
    p{
      font-size: 140px; 
      margin: 40px 30px; 
      line-height: 101px;
      text-align: center;
    }
    primeiro-texto{
        border: 0;
    }

}